{% extends "layout.html" %}
{% block title %}
Add New Student
{% endblock %}
{% block content %}
        <form action="{{ url_for('addrec') }}" method="POST">
            <h3>Add the New Student Info</h3>
            Name<br>
            <input type="text" name="nm" /><br>

            ID<br>
            <input type="text" name="idnum"/><br>

            Points<br>
            <input type="text" name="points" /><br>

            <input type="submit" value="Submit" /><br>
        </form>
{% endblock %}